.grid {
    background-color: aqua;
    /* 300 / 960 */

    flex-grow: 1;
    flex-shrink: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerID {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
    width: 960px;
    height: 960px;

    background-color: orange;
}