.grid {
    background-color: aqua;
    height: 30px;
    width: 30px;
    /* color: blueviolet; */
}

/* body {
    display: flex;
    align-content: center;
} */

#container {
    display: flex;
    /* align-items: center; */
}